@use "./colors" as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: $light;
}
  .wrapper{
  margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.desktop-nav {
  position: relative;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 8rem;
  background-color: $red;
  z-index: 20;
  &::before {
    position: absolute;
    top: -5.5rem;
    right: -5.5rem;
    width: 11rem;
    height: 11rem;
    background-color: $red;
    transform: rotate(45deg);
    z-index: -1;
    content: "";
  }
  &__history-link{
   &-img{
    margin-left: 0.1em;
    font-size: 2rem;
    color: $light;
    transition: color .3s, transform .3s;
   }
  }
  &__special-link{
    position: relative;
    display: inline-block;
    height: 8rem;
    line-height: 8.5rem;
    list-style: none;
    &-list{
    position: absolute;
    width:180%;
    top: 8rem;
    right: -3.5em;
    text-align: center;
    }
    &-li{
      display: none;
      background-color: $red;
      opacity: 0;
    }
    &-a{
      color: $light;
      text-decoration: none;
      font-size: 2rem;
      transition: color .3s;
      &:hover{
        color: $dark;
      }
    }
  }
  &__link {
    line-height: 7rem;
    font-size: 2rem;
    color: $light;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: $dark;
    }
    
  }
  &__brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
     
      &-img{
      height: 4.5rem;
      }
      
    }
}
.desktop-nav__special-link:hover .desktop-nav__special-link-li{
  display: block;
  animation: special-link .5s forwards;
  transform-origin: top;
}
.desktop-nav__special-link:hover .desktop-nav__history-link-img{
 color: $dark;
 transform: rotate(180deg);
}
.desktop-nav__special-link:hover .desktop-nav__history-link{
  color: $dark;
 }
.desktop-nav__special-link:hover .desktop-nav__special-link-li:nth-child(2){
animation-delay: .2s;
}
.mobile-nav {
  position: relative;
  width: 45%;
  height: 5rem;
  background-color: $red;
  z-index: 1;
  &::before {
    position: absolute;
    top: -3.5rem;
    right: -3.5rem;
    width: 7rem;
    height: 7rem;
    background-color: $red;
    transform: rotate(45deg);
    z-index: 10;
    content: "";
  }
  &__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
   
    &-img{
    margin: 0 1rem;
    height: 5rem;
    }
    
  }
  &__btn {
    position: absolute;
    top: 0.8rem;
    right: -110%;
    width: 4rem;
    height: 4rem;
    border: none;
    background: none;
    transition: transform 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(0.95);
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__close-btn {
    display: none;
    position: absolute;
    top: 0.8rem;
    right: -110%;
    width: 4rem;
    height: 4rem;
    border: none;
    background: none;
    transition: opacity 0.3s;
    opacity: 0;
    z-index: 5;
    cursor: pointer;

    &-img {
      display: none;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
  }
  &__links {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -101%;
    background-color: $red;
    transition: left 0.4s;
    z-index: -5;
  }
  &__link {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    color: $light;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
      color: $dark;
    }
  }
}
.header {
  &-hero {
    &__img {
      position: relative;
      top: -8rem;
      height: 60rem;
      background-size: cover;
      background-position: center;
      z-index: 0;
    }
    &__text {
      position: absolute;
      height: 100%;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-img {
        height: 12em;
      }
      &-header{
        color: $light;
        font-weight: 300;
        font-size: 2em;
        opacity: 1;
        transition: opacity .3s;
      }
    }
    &__bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(83, 0, 0, 0.5);
      transition: background-color 0.3s;
      z-index: -5;
    }
  }
}
.header-section {
  position: relative;
  top: -15rem;
  width: 45%;
  height: 5rem;
  background-color: $red;
  &::before {
    position: absolute;
    top: 1.5rem;
    right: -3.5rem;
    width: 7rem;
    height: 7rem;
    background-color: $red;
    transform: rotate(45deg);
    content: "";
    z-index: 0;
  }
}
.timetable{
  position: relative;
  margin: 3em 0;
  top: -15rem;
  &__cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__box{
    padding-bottom: 1em;
    margin: 5em auto;
    width: 95%;
    max-width: 25rem;
    height: 25rem;
    background-color: $dark-red;
    box-shadow: rgba(0, 0, 0, 0.19) 5px 5px 7px;
    transform: rotate(3deg);
    transition: transform .5s;
    &:hover{
      transform: scale(.97);
    }
  }
  &__header{
  margin: 0 1rem;
  color: $light;
  }
  &__text{
    color: $light;
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem;
  }
  &__pin{
    position: absolute;
    height: 5rem;
  left: 50%;
  top: -2rem;
  transform: translateX(-50%);
  }
  &__img{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 65%;
  }
}
.about-us {
  position: relative;
  padding-bottom: 3em;
  top: -15rem;
  background-color: $red;
  z-index: 10;
  &__header {
    color: $light;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    margin: 0 auto;
    width: 90%;
    max-width: 45rem;
    background-color: $light;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  &__img {
    display: block;
    padding: 2.5rem 0 2rem;
    margin: 0 auto;
    width: 21rem;
  }
  &__text {
    display: block;
    padding-bottom: 1em;
    margin: 0 auto;
    width: 21rem;
    text-align: justify;
    font-size: 1.6rem;
  }
}
.history {
  position: relative;
  top: -15rem;
  padding-bottom: 1em;
  overflow: hidden;
  &__header {
    position: relative;
    color: $dark;
  }
  &__box {
    position: relative;
    width: 80%;
    background-color: $red;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  &__time-box{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 80rem;
  }
  &__text {
    display: block;
    padding: 1em 2em;
    color: $light;
    font-size: 1.6rem;
  }
  &__img{
    display: block;
    margin: 5em;
    width: 60%;
    max-width: 33rem;
  }
  &__header-timeline{
    padding: 2em 0;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: $red;
  }
  &__timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0 5em;

    &-line {
      display: block;
      width: 0.5rem;
      height: 55rem;
      background-color: $red;
    }
    &-header {
      font-size: 1.8rem;
    }
    &-text {
      position: absolute;
      display: block;
      font-size: 1.8rem;
      color: $red;
    }
    &-link{
      text-decoration: none;
      color: $red;
      transition: color .3s;
      &:hover{
        color: $dark;
      }
    }
  }
}

.timeline {
  &-first {
    margin-left: 10em;
    top: 1em;
    width: 13rem;
  }
  &-second {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 9em;
    top: 4em;
    width: 9rem;
  }
  &-third {
    margin-left: 10em;
    top: 7em;
    width: 13rem;
  }
  &-fourth {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 9em;
    top: 10em;
    width: 9rem;
  }
  &-fifth {
    margin-left: 8em;
    top: 13em;
    width: 9rem;
  }
  &-seventh{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 9em;
    top: 16em;
    width: 9rem;
  }
  &-eighth{
    margin-left: 8em;
    top: 19em;
    width: 9rem;
  }
  &-ninth{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 9em;
    top: 22em;
    width: 9rem;
  }
  &-tenth{
    margin-left: 8em;
    top: 25em;
    width: 9rem;
  }
}
.achievements{
  position: relative;
  &__cards{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 3em;
    background-color: $red;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    &-header{
      font-weight: 300;
      font-size: 2rem;
      text-align: center;
    }
   }
   &__text{
    margin: 1em 0;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: center;
    color: $light;

   }
   &__btn{
    border: none;
    height: 17rem;
    overflow: hidden;
    border: 2px solid $light;
    border-radius: 3px;
    cursor: pointer;
    transition: transform .3s;

&:hover{
transform: scale(1.01);
}
   }
   &__img{
   height: 100%;
   }
   &__popup{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    transition: opacity .5s; 
    z-index: 20; 
    &-bg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 21;
    }
    &-img{
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 80%;
        max-width: 700px;
        transform: translate(-50%, -50%);
        z-index: 22;
    

 }
 &-close{
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 4rem;
    height: 4rem;
    border: none;
    background: none;
    border: none;
    transition: transform .3s;
    cursor: pointer;
    z-index: 23;
    &:hover{
        transform: scale(.95);
    }
    &-img{
        height: 3rem;
        width: 3rem;
     }
 }
 
}
}
.news {
  position: relative;
  padding-bottom: 4em;
  top: -15rem;
  background-color: $red;
  transition: height .3s;
  &__header {
    color: $light;
  }

  &__card {
    position: relative;
    margin: 2em;
    padding: 2em;
    background-color: $light;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    &-header {
      padding-bottom: 0.5em;
      text-align: center;
      font-size: 2.5rem;
      font-weight: normal;
    }
    &-img {
      position: relative;
      display: block;
      padding-bottom: 1em;
      margin: 0 auto;
      width: 80%;
    }
    &-text {
      position: relative;
      display: block;
      padding: 0.5rem 0 2em;
      margin: 0 auto;
      width: 80%;
      font-size: 1.6rem;
      font-weight: 200;
      text-align: justify;
    }
    &-link {
      position: relative;
      display: block;
      margin: 0 auto 1em;
      height: 4rem;
      width: 50%;
      min-width: 18rem;
      text-align: center;
      font-size: 2rem;
      line-height: 4rem;
      text-decoration: none;
      color: $light;
      background-color: $dark-red;
      border-radius: 5px;
      transition: background-color 0.3s;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      &:hover {
        background-color: $dark;
      }
    }
  }
  &__more-btn {
    position: relative;
    display: block;
    margin: 3em auto 1em;
    width: 70%;
    height: 4rem;
    color: $light;
    text-align: center;
    font-size: 1.8rem;
    line-height: 4rem;
    text-decoration: none;
    border-radius: 5px;
    background-color: $dark-red;
    transition: color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -100%;
      border-radius: 5px;
      background-color: $light;
      content: "Wszyskie aktualności";
      transition: bottom 0.3s;
      z-index: 0;
    }
    &:hover {
      color: $dark;
      &::before {
        bottom: 0;
      }
    }
    
  }
  &-expanded{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    &__card{
      width: 25rem;
    }
  }
  &__expand{
    
    &-btn{
    display: block;
    margin: 3em auto;
    border: none;
    height: 3rem;
    width: 35%;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.8rem;
    color: $dark;
    background-color: $light;
    animation: heartbeat 3s ease-in-out infinite both;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: background-color .3s, color .3s;
    opacity: 1;
    cursor: pointer;
    &:hover{
     background-color: $dark;
     color: $light;
    }
    }
  }
  &__unexpand-link{
    display: none;
    color: $dark;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    opacity: 0;
    transition: color .3s, background-color .3s;
    &:hover{
      color: $light;

    }
  }
  
}
.unexpand-link{
  display: none;
}
.news__expand-btn:hover .news__expand-link{
  color: $light;
}
.contact {
  position: relative;
  top: -15rem;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 95%;
    height: 20rem;
    max-width: 70rem;
    background-color: $red;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  &__center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__paragraph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    &-text {
      margin-left: 1rem;
      font-size: 1.6rem;
      color: $light;
    }
    &-icon {
      margin-left: 1em;
    }
  }
}
.footer {
  background-color: $dark-red;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__brand {
    display: flex;
    justify-content: center;
    align-items: center;
    &-logo {
      height: 13rem;
    }
    &-header {
      color: $light;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-link {
      padding: 0.5rem;
      font-size: 1.6rem;
      color: $light;
      text-decoration: none;
      transition: color 0.3s;
      &:hover {
        color: $dark;
      }
    }
  }

  &__down {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $light;

    &-links {
      padding-top: 1em;
    }
    &-link {
        position: relative;
          &::before{
            position: absolute;
            left: 0;
            width: 0;
            bottom: -.3rem;
            height: .2rem;
            background-color: $light;
            transition: width .3s;
            content: '';
          }
          &:hover{
            &::before{
              width: 100%;
            }
          }
      
      
    }
    &-year {
      margin-top: 1em;
      &-text {
        color: $light;
      }
      &-span {
        color: $light;
      }
    }
    &-producent {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      &-text {
        color: $light;
      }
      &-logo {
        display: block;
        margin: 1em auto;
        height: 3rem;
      }
    }
  }
}
.scroll-up {
  position: fixed;
  display: none;
  bottom: 3%;
  right: -103%;
  height: 6rem;
  width: 6rem;
  background-color: $dark-red;
  border: 1px solid $dark;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  opacity: 1;
  transition: background-color 0.3s, transform 0.3s, right 0.4s;
  z-index: 20;
  &:hover {
    background-color: $dark;
   
  }
 
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    cursor: pointer;


  }
  &__icon {
    width: 5rem;
    height: 5rem;
    transition: background-color 0.3s;
  }
}
.header {
  padding: 2rem 0;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}
.first-header{
  background-color: $light;
  right: -60%;
  width: 40%;
  &::before{
    position: absolute;
    left: -3.5rem;
    background-color: $light;
  }
}
.active-popup{
  display: block;
}
.animation-show{
  animation: show .5s forwards;
}
.animation-hide{
  animation: hide .5s forwards;
}
.second-box{
  transform: rotate(-3deg);
}
.first-box{
  transform: rotate(1deg);
}
.active {
  display: flex;
}
.active-btn {
  display: block;
}
.hide {
  display: none;
}
.opacity {
  opacity: 1;
}
.hide-opacity{
  opacity: 0;
}
.right {
  right: 3%;
}
.slide {
  left: 0;
}
.rotate {
  animation: wobble-hor-bottom 0.8s both;
}
.dark {
  background-color: rgba(0, 0, 0, 0.8);
}
@keyframes show {
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
  
}
@keyframes hide {
  from{
      opacity: 1;
  }
  to{
      opacity: 0;
  }
  
}
@keyframes special-link {
  from{
    opacity: 0;
    transform:  scale(.8) translateY(-4rem);
  }to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-31 8:39:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
 @keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-15px) rotate(-6deg);
  }
  30% {
    transform: translateX(7.5px) rotate(6deg);
  }
  45% {
    transform: translateX(-7.5px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(4.5px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-3px) rotate(-1.2deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-12-11 20:19:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation wobble-hor-top
 * ----------------------------------------
 */
 @keyframes wobble-hor-top {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-12-15 9:11:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.second-header {
  top: -15.5rem;
  &::before {
    top: -3.5rem;
    z-index: -1;
  }
}
.third-header {
  top: 0;
  background-color: $dark-red;
  &::before {
    background-color: $dark-red;
    z-index: -1;
  }
}
@media (min-width: 375px) {
  .header-hero__text-header{
    font-size: 2.5em;
  }
  .about-us {
    &__box {
      width: 80%;
    }
    &__img{
      width: 80%;
    }
    &__text{
      width: 80%;
    }
  }
  .news{
    &-expanded{
      &__card{
        width: 30rem;
      }
    }
  }
  .achievements{
    &__btn{
      height: 20rem;
    }
  }
  .contact{
    &__box{
      width: 85%;
    }
  }
}
@media (min-width: 768px) {
  .header {
    &-hero {
      &__text {
        &-header {
          font-size: 2.5em;
        }
        &-img {
          height: 12em;
        }
      }
    }
  }
  .mobile-nav {
    &__btn {
      right: -115%;
    }
    &__close-btn {
      right: -115%;
    }
  }
  .about-us {
    &__box {
      flex-direction: row;
      align-items: flex-start;
      height: 30rem;
      width: 70rem;
      max-width: 70rem;
    }

    &__img {
      margin: 0 2.5em;
      height: 30rem;
      
    }
    &__text {
      margin: 1.2em 2em 0 0;
      font-size: 1.6rem;
      height: 25rem;

    }
  }
  .achievements{
        &__cards{
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__card{
      margin: 5em;
      }
        &__link{
            padding: 1em;
        }
        &__text{
font-size: 2rem;
        
        }
        
    }
  .header {
    font-size: 3rem;
  }
  
  .news {
    &__card {
      margin: 4rem;
    }
    &-expanded{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
  .contact {
    &__paragraph {
      &-text {
        font-size: 2rem;
      }
    }
  }
  .footer {
    &__box {
      flex-direction: row;
      justify-content: space-evenly;
    }
    &__brand {
      &-logo{
        height: 20rem;
      }
    }
    &__list {
      padding: 1.5em 0;
      align-items: flex-start;
      &-link {
        font-size: 1.8rem;

      }
    }
    &__down {
      flex-direction: row;
      justify-content: space-around;
      
      &-producent {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        &-text {
          padding-right: 0.5em;
          font-size: 1.6rem;
        }
       
      }
      &-year {
        &-text {
          font-size: 1.6rem;
        }
      }
    }
  }
}
@media (min-width: 850px){
  .history {
    &__box {
      width: 70rem;
    }
    &__time-box{
      flex-direction: row;
    }
  }
  .second-time-box{
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: flex;
  }
  .header {
    &-hero {
      &__img {
        top: -10rem;
      }
    }
  }
  .timetable{
    &__cards{
      flex-direction: row;
    }
    &__text{
      font-size: 1.8rem;
    }
    &__box{
      width: 27rem;
      max-width: 27rem;
      height: 27rem;
    }

  }
  .about-us {
    top: -17rem;
  }
  .news {
    top: -17rem;
    &__card {
      margin: 5rem;
    }
  }
  .header-section {
    top: -17rem;
  }
  .third-header {
    top: 0;
  }
}
@media (min-width: 1100px) {
  .news {
    &__card {
      margin: 5rem;
    }
    &__more-btn {
      width: 50%;
    }
  }
}
